<h1>Create A New Habit</h1>

<form id="form_id" action="/habits/new/create" method="post">

<label for="habit">Create or Break habit</label>
<select id="habit" name="name">
  <option value=true>Create</option>
  <option value=false>Break</option>
</select>

<label for="habit_name">Habit name:</label>
<input type="text" name="habit_name" value="post">
<br>
<br>

<button name="submit">Add Habit</button>


</form>
