<div class="container text-center">
  <div class="jumbotron">
    <div class="container-fluid">
      <legend><h1>Habits</h1></legend>
        <div class="textual">
          <h2><% @habits.each do |habit| %> </h2>
          <ul>
            <li><a href="/habits/<%= habit.id %>"><%= habit.name %></a></li>
            <hr>
            <br>
            <!-- add user total to end of link. call number of instances of habit id in join table. -->
          </ul>
              <% end %>
        </div>
    </div>
  </div>
</div>
