<div class="ghandi">

<h2>“Your beliefs become your thoughts,
Your thoughts become your words,
Your words become your actions,
Your actions become your habits,
Your habits become your values,
Your values become your destiny.” #GHANDI </h2>

</div>


<div class="buttons-home">

<a href="/form_habits" class="btn btn-lg btn-primary">Form A Habit</a>

<a href="/user_add" class="btn btn-lg btn-danger">Add A User</a>
</div>
