<div class="col-md-8">
  <div class="jumbotron">
    <div class="container">
<legend><h2>Post: <%= @message.title %></h2></legend>
      <div class = "well" id="messboard">
        <h3><%= @message.message %></h3>
      </div>
        <button type="Submit" class="btn btn-warning">Back</button>
    </div>
  </div>
</div>
