body {
  background-image: url("/img/success.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quote{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.form-group .label .text-warning{
  color:white;

}

ul{
  list-style-type: none;
}

textarea{
  max-width:60%;
}

#heading{
  text-decoration: underline;
}

.textual li{
  font-size: 200%
}

.textual {
  float: center;
}

.article-container{
  float: left;
}


.option-color{
  color: black;
}


.travis .navbar-brand{
  background-color: #536E8D;
  color: yellow;
}

.travis {
  background-color:#536E8D;
}

.quote-display p {
  font-size: 20px;
  text-align: center;
  width: 80%;
  color: #000000;
}
